.gallery1 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

#archwork1, #archwork2 {
    grid-row: 1 / span 2;
}

#archwork7 {
    grid-area: 3 / 1 / span 2 / 2;
}

#archwork6 {
    grid-area: 4 / 2 / 5 / 3;
}

#archwork9 {
    grid-area: 5 / 1 / 6 / span 2;
}

