section {
    position: relative;
    width:380px;
    margin: 100px auto 50px auto;
}

#img {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

p {
    width: 250px;
    position: fixed;
    left: 55%;
    bottom: 50px;
    transform: translate(-50%, -50%);
}

.dot:hover {
    border: black solid 4px; 
}

i {
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

i:nth-child(1) {
    background-color: black;
}

.iconleft, .iconright {
    width: 50px;
    position: absolute;
    top: -40px;
}

.iconleft:hover, .iconright:hover {
    border: black solid 2px; 
    border-radius: 3px;
}

.iconleft {
    left: 0px;
    transform: translate(15%, -50%);
}

.iconright {
    right: 0px;
    transform: translate(-15%, -50%);
}

@media screen and (min-width: 768px) {
    section {
        width: 600px;
        margin: 20px auto 100px auto;
    }
    p {
        bottom: 15px;
        left: 50%;
    }
    .iconleft, .iconright {
        width: 40px;
        top: 50%;
    }
    .iconleft {
        left: -60px;
    }
    .iconright {
        right: -60px;
    }
}

@media screen and (min-width: 1280px) {
    section {
        width: 700px;
    }
}